.row {
    max-width: $grid-width;
}

.flex {
    max-width: $grid-width;
    margin: 0 auto;
    display: flex;
    gap: 10rem;

    &-col {
        flex-direction: column;
    }

    &-center {
        align-items: center;
    }
}


.grid {
    max-width: $grid-width;
    margin: 0 auto;
    display: grid;
    gap: 6rem;

    @include respond (seventh) {
        gap: 12rem;
    }

    &-2-col {
        grid-template-columns: 1fr 1fr;

        @include respond (seventh) {
            grid-template-columns: 1fr;
        }
    }

    &-3-col {
        grid-template-columns: 1fr 1fr 1fr;

        @include respond (sixth) {
            grid-template-columns: 1fr;
            max-width: 50%;
        }

        @include respond (bookbreak) {
            max-width: 70%;
        }
    }

    &-4-col {
        grid-template-columns: repeat(4, 1fr);

        @include respond (sixth) {
            grid-template-columns: 1fr;
            max-width: 50%;
        }

        @include respond (seventh) {
            max-width: 70%;
        }
    }

    &-center {
        justify-items: center;
    }
}