.form {


    &__group:last-child {
        padding-top: 3rem;
    }

    &__group:not(:last-child) {
        margin-bottom: 2rem;
        font-family: inherit;
    }

    &__input {
        background-color: rgba($color-white, .8);
        display: block;
        border: none;
        border-bottom: 2px solid $color-white;
        border-radius: 2px;
        box-shadow: 0 .1rem .1rem rgba($color-black, .1);
        padding: 1.8rem 2rem;
        color: inherit;
        width: 90%;
        transition: all .3s;

        &:focus {
            outline: none;
            border-bottom: 2px solid $color-primary-dark;
            box-shadow: 0 .5rem 1rem rgba($color-black, .2);
        }

        &:focus:invalid {
            border-bottom: 2px solid $color-secondary-dark;
        }

        &::-webkit-input-placeholder {
            color: $color-dark-gray-2;
        }
    }

    &__label {
        margin-left: 2rem;
        margin-top: .7rem;
        color: $color-dark-gray;
        font-weight: 600;
        font-size: 1.4rem;
        transition: all .5s;
        display: inline-block;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 49%;
        display: inline-block;
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: $default-font-size;
        position: relative;
        padding-left: 4rem;
    }

    &__radio-button {
        width: 2.8rem;
        height: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        &::after {
            content: "";
            width: 1rem;
            height: 1rem;
            border: .6rem solid $color-primary;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: .2s;
        }
    }
    &__radio-input:checked + &__radio-label &__radio-button::after {
        opacity: 1;
    }
}