.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .85);
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;


    &__content {
        width: 75%;
        background-color: $color-white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        border-radius: 3PX;
        overflow: hidden;
        display: flex;
        gap: 3rem;
        justify-content: center;
        align-items: center;
        transition: all .3s .2s;

        @include respond(fourth) {
            flex-direction: column;
            height: auto;
            width: 75%;
        }
    }

    &__left {
        width: 33.33%;
        height: 100%;
        display: flex;
        flex-direction: column;

        @include respond(fourth) {
            flex-direction: row;
            width: 100%;
        }
    }

    &__right {
        width: 66.66%;
        padding: 3rem;

        @include respond(fourth) {
            width: auto;
            padding: 0 3rem 3rem 3rem;
        }
    }

    &__img {
        height: 100%;
        display: inline-block;

        @include respond(fourth) {
            width: calc(100% / 2);
            height: auto;
        }
    }

    &__text {
        font-size: 1.4rem;
        column-count: 2;
        column-gap: 3rem;
        column-rule: 1px solid $color-gray-light-2;
        hyphens: auto;
        padding: 4rem;

        @include respond(fourth) {
            column-count: 1;
            column-rule: none;
            padding: 1rem;
        }
    }

    &__close {
        height: 2rem;
        width: 2rem;
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 3rem;
        text-decoration: none;
        border-radius: 50%;
        color: inherit;
        line-height: 1;
        transition: all .2s;


        &:hover {
            color: $color-primary;
        }

        @include respond(fourth) {
            font-size: 5rem;
            top: 1rem;
            right: 3rem;
        }
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        transform: translate(-50%, -50%) scale(1);
    }
}