body {
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-dark-gray;
}

.heading-primary {
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        text-align: center;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include respond (sixth) {
            font-size: 5rem;
            letter-spacing: 2rem;
        }

        @include respond (seventh) {
            font-size: 4rem;
        }

        @include respond (eighth) {
            font-size: 2.5rem;
        }
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;

        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include respond (sixth) {
            font-size: 1.75rem;
            letter-spacing: .8rem;
        }

        @include respond (seventh) {
            font-size: 1.5rem;
        }

        @include respond (eighth) {
            font-size: .8rem;
            margin: 0 auto;
        }
    }

}

.heading-secondary {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s;
    letter-spacing: 1.6px;

    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-clip: text;
    color: transparent;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }



    @include respond (sixth) {
        font-size: 3rem;
    }

    @include respond (seventh) {
        font-size: 2.5rem;
    }

    @include respond (eighth) {
        font-size: 2rem;
    }
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}
